@import "compass/css3";


p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
  margin: 20px;
  float: left;
  width: 350px;
  padding: 0.5rem;
 
}
.performance-facts__title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 6px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;

}
.performance-facts__table {
  width: 100%;
 
  }
  th, td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black; 
    white-space: nowrap;
  }
  td {
    
      text-align: right;
    
  }
  .blank-cell {
    width: 1rem;
    border-top: 0;
  }

.small-info {
  font-size: 20px;
}

.performance-facts__table--small {
  
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  
      border-bottom: 1px solid black; 
    
  }
  td {
    
      text-align: left;
    
  }
  th, td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
 
  margin: 0 0 0.5rem 0;
  
      text-align: left;
    
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    
  
}


.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}

.line {

    border-bottom: 3px solid black;
}

.textalign {
text-align: right;

}

.notice {

font-size: small;
border-top: 3px solid black;
}